body {
  display: flex;
  justify-content: center;
  background-color: rgb(167, 166, 166);
}

.calculatorCointainer {
  width: 800px;
  height: 690px;
  margin-top: 50px;
  border: 0.25px solid #bababa;
}

.resultCointainer {
  background-color: #858693;
  color: aliceblue;
  font-family: 'Courier New', sans-serif;
  font-weight: 900;
  margin-top: 0;
  height: 16.67%;
  border: 0.25px solid #bababa;
}

.result {
  margin: 0;
  padding: 30px;
  font-size: 7vw;
  text-align: end;
}

.buttons {
  display: flex;
  flex-wrap: wrap;
}

.bttn {
  background-color: #e0e0e0;
  border: 0.25px solid #bababa;
  width: 24.75%;
  height: 113px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3vw;
}

.operator {
  background-color: #f5913e;
}

.zero {
  flex-grow: 2;
}
